body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: white;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 1em;
    margin-left: 5em;
    margin-top: 0em;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
h5 {
    font-family: Arial, Helvetica, sans-serif;
}
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}
table td {
    text-align: center;
}

.studietekstene {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.studietekst {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.studielinkene {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    padding-left: 20px;
}

.studielinker {
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    float: left;
    color: #A62342;
    padding-left: 25%;
    margin: 0px;
    padding-top: 0px;
}

.studielinker li {
    padding: 5px;
}

.studielinker a {
    color: #A62342;
}

.infotekst {
    font-size: 20px;
    color: black;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
}

li a {
    color: black;
}

li a:hover {
    color: grey;
}

.pitchtekst {
    color: white;
    padding-left: 15em;
    font-style: italic;
    letter-spacing: 0.2em;
}

.container {
    width: 98%;
    height: 500px;
    position: absolute;
    top: 0;
}

header {
    background-color: rgb(34, 31, 31);
    height: 12em;
    background-size: cover;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.headerimg {
    height: 8em;
}


/*.footer {
    background-color: #333333;
    padding: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 300px;
}
.footer a {
    color: white;
}
.footer a:hover {
    color: #333333;
} */

.nav-bar {
    border: solid, black;
    text-align: right;
    box-sizing: border-box;
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding-top: 0.5em;
}
#nav-img {
    float: left;
    padding: 1em;
}
.nav-button {
    float: right;
    color: white
}

span {
    padding: 20px;
    color: white;
}

.nav-button a {
    text-decoration: none;
    color: white;
    padding: 1em;
}
.nav-button a:hover {
    text-decoration: underline;
}

#nav-pitch {
    float: right;
    text-align: center;
    padding-right: 2em;
    color: white;
}

.secondNav {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: #333333;
    padding: 10px;
}

.secondNavButton {
    float: right;
    text-decoration: none;
}

.secondNav li {
    float: left;
}

.secondNav a {
    width: 150px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.secondNav a:hover {
    color: #A62342;
}

.nav ul li{
    list-style-type: none;
    width: 150px;
    float: center;
    }

.studieinfo {
    
}

.studiebilder {
    height: 150px;
    padding-top: 30px;
    padding-bottom: 0px;
}